<div *ngIf="incorrectCount >= 7" class="warning-message">
  <p>You have answered incorrectly 7 times. It's recommended to switch to Learn Mode.</p>
  <button routerLink="/learn" class="link-button">Learn Mode</button>
  <div class="statistics">
    <h3>Quiz Statistics</h3>
    <p>Correct Answers: {{ correctCount }}</p>
    <p>Incorrect Answers: {{ incorrectCount }}</p>
    <p>Skipped Questions: {{ skippedCount }}</p>
  </div>
</div>
<div *ngIf="finishedQuiz" class="finish-message">
  <div class="statistics">
    <h3>Quiz Statistics</h3>
    <p>Correct Answers: {{ correctCount }}</p>
    <p>Incorrect Answers: {{ incorrectCount }}</p>
    <p>Skipped Questions: {{ skippedCount }}</p>
  </div>
</div>
<div *ngIf="!(incorrectCount >= 7) && !finishedQuiz" class="container">
<div *ngIf="showAnswerRequired" class="answer-required">
  Please enter an answer.
</div>
  <div *ngIf="showResult && (fillInAnswer || questions[currentQuestionIndex].qtyp !== 'fi')" class="result-box">
    <p *ngIf="isCorrect" class="correct-message">well done. You answered the question correctly. Loading next question! </p>
    <p *ngIf="!isCorrect" class="incorrect-message">sorry. You answered the question incorrectly. You have been directed to the previous question!</p>
  </div>
  <h1>Check Mode</h1>
  <div *ngIf="questions.length > 0 && currentQuestionIndex < questions.length">
    <div class="question-container">
      <h3>Question {{ currentQuestionIndex + 1 }}</h3>
      <p class="question-text">{{ questions[currentQuestionIndex].qtxt.join('\n') }}</p>
      <ng-container *ngFor="let answer of questions[currentQuestionIndex].qanswers; let i = index">
        <ng-container *ngIf="questions[currentQuestionIndex].qtyp !== 'fi'; else fillInInput">
          <div class="answer-option">
            <label>
              <input [type]="getInputType(questions[currentQuestionIndex].qtyp)"
                     [name]="'answer-' + currentQuestionIndex"
                     [value]="getCharCode(i)"
                     [checked]="isAnswerSelected(getCharCode(i))"
                     (change)="toggleAnswer(getCharCode(i), questions[currentQuestionIndex].qtyp)">
              {{ answer.txt.join('\n') }}
            </label>
          </div>
        </ng-container>
        <ng-template #fillInInput>
          <div class="answer-option">
            <input *ngIf="!showResult || fillInAnswer" type="text" [(ngModel)]="fillInAnswer" placeholder="Type your answer...">
            <p *ngIf="showResult && fillInAnswer" class="user-answer">Your answer: {{ fillInAnswer }}</p>
          </div>
        </ng-template>
      </ng-container>
      <div class="button-container">
        <button (click)="moveToPreviousQuestion()" [disabled]="currentQuestionIndex === 0"><i class="fas fa-chevron-left"></i> Back</button>
        <button (click)="skipQuestion()"><i class="fas fa-forward"></i> Skip</button>
        <button (click)="checkAnswer()"><i class="fas fa-check"></i> Check</button>
        <button (click)="finishQuiz()"><i class="fas fa-check"></i> Finish</button>
      </div>
    </div>
  </div>
</div>
